[Desktop Entry]
Type=Application
Version=1.0
Name=pcloud
Comment=pcloudstartup script
Exec=/home/mahesh/Downloads/pcloud
StartupNotify=false
Terminal=false