[Desktop Entry]
Type=Application
Exec=/snap/bin/chromium --app="https://beta.web.structured.app/"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Structured
Name=Structured
Comment[en_US]=
Comment=
